.header {
  display: flex;
  justify-content: space-between;
  background: #21243d;
  padding: 1rem 2rem;
  height: 80px;
  color: white;
  align-items: center;
}

.header__logo {
  font-size: 2rem;
}

.header__nav ul {
  list-style: none;
  margin: 0;
}

.header__nav ul li {
  padding: 1rem;
}

.header__nav ul li a {
  text-decoration: none;
  color: white;
}
