.column {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 200px;
  margin-right: 0.5rem;
  min-height: 100%;
  background-color: #f1f3f4;
  overflow: hidden;
}

.column__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  color: white;
  margin: 0;
  background: #ff7c7c;
}

.column__droppable-area {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1rem;
  transition: all 0.5s;
  height: 100%;
  overflow-y: auto;
}
